.error {
    padding: 20px;
    position: fixed;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
}

.error-cont {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}